#!/usr/bin/env bash

export EDITOR='code -n -w';

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

export JAVA_HOME=$(/usr/libexec/java_home)

export PAGER=less
export LESS="-ieMSx4 -FX"